.primary {
  color: #4d60d5;
}

.ads-container {
  min-height: 60vh;
  width: 60%;
}
.form-container {
  width: 40%;
}

.ads-img {
  height: 100%;
}

@media screen and (max-width: 767px) {
  .ads-img {
    height: auto;
    width: 100%;
  }
  .ads-container {
    min-height: 60vh;
    width: 100%;
  }
  .form-container {
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 575px) {
  .form-container {
    width: 90%;
    margin: 0 auto;
  }
}

.vertical-center {
  display: flex;
  align-items: center;
  height: 100vh;
}
